
.home-section {
    padding-top: 50px;
    padding-bottom: 50px;
    
    &:first-of-type {
        padding-top: 30px;
    }
}

@media screen and (max-width: 768px) {
    .home-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.article-title {
    text-decoration: underline;
}

.article-style {
    h2 {
        font-weight: 600;
        white-space: normal;
        margin: 2rem 1rem 1.5rem;
        padding: 0 0 0.5rem 0;
        font-size: 1.3rem;
        color: rgb(0, 150, 136);
        border-bottom: 1px solid rgb(238, 238, 238);
        text-align: center !important;
        visibility: visible;
    }
    h3 {
        font-weight: 600;
        font-size: 1.2rem;
        white-space: normal;
        margin: 1.5rem 0 1rem;
        padding-left: 0.5rem;
        color: black;
        text-align: left !important;
        border-left: 4px solid rgb(0, 150, 136);
    }
}
.dark {
    .article-style {
        h2 {
            color: white;
            border-color: #444;
        }
        h3 {
            color: white;
            border-color: #e83e8c;
        }
    }
}

.table thead th {
    border: 1px solid #dee2e6;
    border-bottom: 2px solid #dee2e6;
    background-color: rgb(242, 243, 245);
}
.table th, .table td {
    padding: 0.4rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}
.dark .table thead th {
    background-color: #222;
}

.post-nav-item a {
    text-decoration: underline;
}

pre {
    border: 1px solid #d0d7de;
    padding: 16px;
    background-color: rgb(246, 248, 250);
    border-radius: 6px;
}

.dark pre {
    border: 1px solid #555;
    padding: 16px;
    color: #aaa; 
    background-color: #222;
    border-radius: 6px;
}

.site-footer {
    margin-bottom: 10px;
}

